.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #cfb59e;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo {
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    color: inherit;
    font-family: Palatino, serif;
}

.nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}

.active {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
}
.inactive {
    color: #333;
    text-decoration: underline;
    font-weight: normal;
    padding: 5px 10px;
}